* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #343a40;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 8px solid #e67700;
}

.container {
    width: 992px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 60px;
    margin: 80px 0;
}

.header-box h1 {
    font-size: 44px;
    letter-spacing: -1px;
    line-height: 1.2;
}

.header-box p {
    margin: 16px 0;
    line-height: 1.8;
}

section {
    margin: 60px 0;
}

h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 18px;
}

h3 {
    margin: 14px 0;
}

a:link, a:visited, a:active {
    text-decoration: none;
    text-transform: uppercase;
}

img {
    border-radius: 14px;
}

.btn {
    color: #fff;
    background-color: #e67700;
    border-radius: 100px;
}

.btn--big {
    padding: 14px 16px;
    display: inline-block;
}

.btn--small {
    font-size: 12px;
    padding: 9px 12px;
}

.grid-3-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    justify-items: center;
}

.feature-icon {
    width: 32px;
    stroke: #e67700;
    margin-bottom: 14px;
}

.feature-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 12px;
}

.feature-desc {
    line-height: 1.8;
}

.testimonial-section {
    color: #fff;
    background-color: #e67700;
    padding: 24px;
    border-radius: 14px;
}

blockquote {
    grid-column: 2 / -1;
}

.quote {
    font-style: italic;
    font-weight: 500;
    line-height: 1.8;
}

.quote-name {
    margin-top: 14px;
}

figure {
    box-shadow: 0 10px 10px 0 rgba(52, 58, 64, 0.123);
    border-radius: 14px;
    width: 300px;
}

.chair img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.chair-icon {
    width: 24px;
    stroke: #e67700;
}

.chair-list {
    padding: 12px 32px;
}

.chair-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 0 16px;
}

ul {
    margin: 14px 0;
}

li {
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
    padding: 8px 0;
}

footer {
    font-size: 14px;
    line-height: 3;
}