body {
    padding: 3em;
}

.container {
    display: grid;
    grid-template-columns: 100px 200px 100px 200px;
    grid-template-rows: 100px 200px;
    gap: 10px;
}

.box {
    font-style: italic;
}

.el--1 {
    background-color: rgb(178, 236, 236);
}

.el--2 {
    background-color: rgb(153, 153, 240);
}

.el--3 {
    background-color: rgb(239, 172, 241);
}

.el--4 {
    background-color: rgb(238, 156, 176);
}

.el--5 {
    background-color: rgb(195, 240, 153);
}

.el--6 {
    background-color: rgb(241, 240, 172);
}

.el--7 {
    background-color: rgb(104, 104, 104);
}

.el--8 {
    background-color: rgb(172, 221, 241);
}