* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0 5em;
}

header {
    background-color: rgb(235, 235, 235);
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding: 1em;
}

li:hover {
    background-color: rgb(172, 172, 172);
}

a:link {
    color: #333;
    text-decoration: none;
}

p {
    margin: 0.5em 0;
}

article {
    background-color: rgb(235, 235, 235);
}

aside {
    background-color: rgb(235, 235, 235);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
}

footer {
    background-color: rgb(235, 235, 235);
    grid-column: 1 / -1;
    padding: 2em 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 400px;;
    column-gap: 1.5em;
    row-gap: 2em;
}

section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 100px;
    gap: 1em;
}

.box {
    background-color: rgb(204, 243, 182);
}

.bar {
    background-color: rgb(152, 185, 207);
    width: 100px;
}