* {
  margin: 0;
  padding: 0;
}

body {
  padding: 2em;
}

nav {
  color: rgb(3, 109, 74);
  background-color: aquamarine;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav p {
  padding-left: 1em;
}

nav ul {
  padding: 0;
  display: flex;
  gap: 0.5em;
}

nav li {
  padding: 0.5em 1em;
}

nav li:hover {
  background-color: rgb(106, 236, 193);
}

a:link {
  text-decoration: none;
  color: rgb(3, 109, 74);
}

.container {
  display: flex;
  align-items: flex-start; /* use flex-start to fit hight base on content*/
  gap: 15px; /* use gap instead of margin-right*/
}

article {
  flex: 1; /* width will flexible or responsive */
  background-color: #eee;
  padding: 1em;
  border: 1px solid #ddd;
}

article header {
  text-align: center;
  margin: 1em 0 3em 0;
}

.card-container {
  display: flex;
  gap: 1em;
}

.card {
  display: flex;
  background-color: white;
  align-items: center;
}

.card p {
  padding: 1em;
}

aside {
  flex: 0 0 300px; /* box size is fix 300px */
  background-color: #ddd;
}

ul {
  padding: 1em;
}

li {
  list-style: none;
}
