* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    width: 50%;
    border: 6px solid black;
    margin: 50px auto;
    position: relative;
}

.sale {
    color: white;
    background-color: red;
    position:absolute;
    top: -15px;
    left: -15px;
    padding: 5px;
    font-size: 14px;
    letter-spacing: 5px;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    background-color: #eee;
    padding: 20px 0;
    margin-top: 0;
}

h3 {
    margin-bottom: 1em;
    text-transform: uppercase;
}

h4 {
    width: 50%;
    float: left;
}

p {
    padding-top: 1em;
    font-size: 1em;
    width: 100%;
    float: left;
}

img {
    width: 30%;
    float: left;
}

.shipping-card {
    width: 35%;
    padding: 1em;
    float: left;
}

.shipping-title {
    
    margin: 1em;
}

.shipping-title::after {
    content: "";
    clear: both;
}

.shipping {
    width: 50%;
    color: gray;
    text-transform: uppercase;
    font-size: 11px;
    float: right;
}

a:link {
    margin-top: 1em;
    color: black;
}

a:hover {
    text-decoration: none;
}

.box-color {
    margin-top: 20px;
}

.box-color div {
    width: 25px;
    height: 25px;
    margin-right: 8px;
    display: inline-block;
}

.box-color div:nth-child(0) {
    background-color: black;
}

.box-color div:nth-child(1) {
    background-color: blue;
}

.box-color div:nth-child(2) {
    background-color: red;
}

.box-color div:nth-child(3) {
    background-color: yellow;
}

.box-color div:nth-child(4) {
    background-color: green;
}

.box-color div:nth-child(5) {
    background-color: brown;
}

.product-card {
    width: 35%;
    padding: 1em;
    float: right;
}

.product-card::after {
    content: "";
    clear: both;
}

li {
    list-style: square;
    margin-bottom: 6px;
}

button {
    text-transform: uppercase;
    font-size: 2em;
    color: white;
    width: 100%;
    background-color: black;
    border: none;
    border-top: 6px solid black;
}

button:hover {
    color: black;
    background: none;
}
